target/
.classpath
.vagrant/
personalization.local
awm-api-formatter.xml
.metadata/
RemoteSystemsTempFiles/
Servers/
logs/
.settings/
.project
.pmd
**/.pmd/**
awm-api-sdk/test-output/*
server/*.jar
**/.logs
**/server/null/
**/temp/
server/LOG_DIR_IS_UNDEFINED/
server/null/*
#server/*
**server/*.log
**/bin/*
**/server/*.log
/bin
nbactions.xml
awm-api-docs-server/
.idea/
.class/